#newsletter input[type="submit"] {
    background:#6f7a3b;
    color:#fff;
    width:100%;
    padding:7px;
    cursor: pointer;
    margin-bottom:0;
    border:none;
}

#newsletter input[type="submit"]:hover {
    background:#b1c262;
    color:#444;
}